cloudpickle==2.2.0
contourpy==1.0.5
cycler==0.11.0
fonttools==4.37.4
gym==0.21.0
imageio==2.22.1
kiwisolver==1.4.4
matplotlib==3.6.0
networkx==2.8.7
numpy==1.23.3
opencv-python==4.6.0.66
opensimplex==0.3
packaging==21.3
pandas==1.5.0
Pillow==9.2.0
pybullet>=3.1.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytorch-model-summary==0.1.2
pytz==2022.4
PyWavelets==1.4.1
scikit-image==0.19.3
scipy==1.9.1
six==1.16.0
stable-baselines3==1.6.1
tifffile==2022.8.12
torch==1.12.1
tqdm==4.64.1
typing_extensions==4.3.0
seaborn==0.12.1
